body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: orangered;
	color: white;
	font-size: 2em;
	text-align: center;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:2px;
/*	background-color: rgb(175, 175, 175); */
	color: white;
	background-color: orangered;
	text-align: center;

}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; /* background color */
    border: 1px solid gray; /* border width, style, and color */
    margin: 5px; /* outer padding */
}